@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: CustomOne;
    src: url(../Pacifico-Regular.ttf);
}

@font-face {
    font-family: CustomTwo;
    src: url(../Bhaijaan.ttf);
}

:root {
    --CustomBlak: #1e1e1e;
    --CustomDarkBlue: #30007e;
    --CustomLightBlue: #78aeff;
    --CustomGreen: #66ff75;
}
/* Works on Firefox */
* {
    scrollbar-width: inherit;
    scrollbar-color: var(--CustomLightBlue) transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background: var(--CustomLightBlue);
    border: 1px solid var(--CustomLightBlue);
    border-radius: 3px;
}

h1,
h2,
h3 {
    font-family: CustomOne;
}

main {
    font-family: CustomTwo;
}

.welcome {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.welcome > h1 {
    /*position: absolute;*/
    /*z-index: 9;*/
    /*display: inline-flex;*/
    /*user-select: none;*/
    /*background-color: transparent;*/
    /*color: var(--CustomLightBlue);*/
    /*font-size: xx-large;*/
}

.welcome > img {
    /*position: relative;*/
    /*filter: grayscale(1);*/
}

.welcome > button {
    /*align-self: flex-start;*/
}

.product {
    display: flex;
    border-radius: 2px;
}
.btn{

}
.button {
    border: none;
    background: none;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    padding: .5em;
    padding-inline: 1.7em;
    /* padding: 25px 86px; */
    height: auto;
    width: auto;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    color: var(--CustomBlak);
    background-color: #fff;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0.216);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

user-select:none .button.button--big {
    padding: 25px 86px;
    font-size: 1.5625rem;
}

.button:after {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
    display: block;
    content: "";
    height: 22px;
    width: 100%;
    background-size: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.button:hover,
.button:focus {
    color: #fff;
    background-color: var(--CustomLightBlue);
    text-decoration: none;
    outline: none;
}
