// nav {
//   z-index: 200;
//   position: relative;
// }
@keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}

#overlay-button {
  padding: 26px 11px;
  z-index: 5;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#overlay-button span {
  height: 3px;
  width: 25px;
  border-radius: 2px;
  background-color: $CustomBlak;
  position: relative;
  display: block;
  transition: all 0.2s ease-in-out;
}

#overlay-button span:before {
  top: -10px;
  visibility: visible;
}

#overlay-button span:after {
  top: 10px;
}

#overlay-button span:before,
#overlay-button span:after {
  height: 3px;
  width: 30px;
  border-radius: 2px;
  background-color: $CustomBlak;
  position: absolute;
  content: "";
  transition: all 0.2s ease-in-out;
}

#overlay-button:hover span,
#overlay-button:hover span:before,
#overlay-button:hover span:after {
  background: $CustomBlak;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ #overlay {
  visibility: visible;
}

input[type="checkbox"]:checked ~ #overlay-button:hover span,
input[type="checkbox"]:checked ~ #overlay-button span {
  background: transparent;
}

input[type="checkbox"]:checked ~ #overlay-button span:before {
  transform: rotate(45deg) translate(7px, 7px);
  opacity: 1;
}

input[type="checkbox"]:checked ~ #overlay-button span:after {
  transform: rotate(-45deg) translate(7px, -7px);
}

#overlay {
  margin-inline: auto;
  z-index: 250;
  position: absolute;
  visibility: hidden;
  margin-inline: auto;
  width: 300px;
  background: $CustomBlak;
  border-radius: 1rem;
  left: 1em;
  right: 1em;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    list-style-type: none;
    margin-inline: auto;
    padding: 0.2em;
  }
  ul li {
    padding: 0.3em 0em;
  }
  ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
  }
  ul li a:hover {
    color: $CustomLightBlue;
  }
}

#overlay.active {
  visibility: visible;
  position: relative;
}
