@font-face {
  font-family: CustomOne;
  src: url(/Pacifico-Regular.ttf);
}

@font-face {
  font-family: CustomTwo;
  src: url(/Bhaijaan.ttf);
}
@font-face {
  font-family: CustomThree;
  src: url(/IndieFlower-Regular.ttf);
}
@font-face {
  font-family: CustomFour;
  src: url(/ChakraPetch-Regular.ttf);
}

// :root {
//   --CustomBlak: #1e1e1e;
//   --CustomDarkBlue: #30007e;
//   --CustomLightBlue: #78aeff;
//   --CustomGreen: #66ff75;
// }

$CustomBlak: #1e1e1e;
$CustomDarkBlue: #30007e;
$CustomLightBlue: #78aeff;
$CustomGreen: #66ff75;